#
# Pokytos build configuration.
# Check the available documentation at:
# https://github.com/filhoDaMain/pokytos/tree/scarthgap/Documentation
#


#
# Machine Selection (target device)
#
# List of supported devices:
# https://github.com/filhoDaMain/pokytos/blob/scarthgap/Documentation/chapters/03_supported_devices.md
MACHINE = "raspi3ap"


#
# Extra image configurations
#
# NOTE: "debug-tweaks" allows booting into root with no password!
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"


#
# Distro selection
#
DISTRO ?= "pokytos"


#
# Alternate config for developer image variant
#
BBMULTICONFIG = "developer"


#
# CONF_VERSION is increased each time build/conf/ changes incompatibly
#
CONF_VERSION = "2"
