#
#  Refer to
#    Yocto Reference Manual:
#    https://docs.yoctoproject.org/scarthgap/ref-manual/index.html
#
#    Pokytos Documentation:
#    https://github.com/filhoDaMain/pokytos/tree/scarthgap/Documentation
#
#
#  Host machine related configurations should be made here:
#    conf/site.conf
#

MACHINE ?= "qemu-raspi3ap"
DISTRO ?= "pokytos"
CONF_VERSION = "2"

# TODO: Consider doing this only in developer multiconfig
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
